<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Handling Events</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone@7.4.4/babel.min.js"></script>
  </head>
  <body>
    <div id="root"></div>

    <script type="text/babel">
      class MyEvents extends React.Component {
        state = {
          lastFiredEvent: "",
          inputValue: "Cut this text!",
          hoverText: "Hover over me!"
        };

        handleOnClick = e => {
          this.setState({ lastFiredEvent: "click" });
        };
        handleOnDoubleClick = e => {
          this.setState({ lastFiredEvent: "double click" });
        };
        handleOnCopy = e => {
          this.setState({ lastFiredEvent: "copy" });
        };
        handleOnSelect = e => {
          this.setState({ lastFiredEvent: "select" });
        };
        handleOnFocus = e => {
          this.setState({ lastFiredEvent: "focus " });
        };
        handleOnBlur = e => {
          this.setState({ lastFiredEvent: "blur " });
        };
        handleOnCut = e => {
          this.setState({ lastFiredEvent: "cut" });
        };
        handleOnPaste = e => {
          this.setState({
            lastFiredEvent: "paste",
            inputValue: e.clipboardData.getData("Text")
          });
        };
        handleOnChange = e => {
          this.setState({ inputValue: e.target.value });
        };
        handleOnMouseEnter = e => {
          this.setState({
            lastFiredEvent: "mouse enter",
            hoverText: "Don't touch me!"
          });
        };
        handleOnMouseLeave = e => {
          this.setState({
            lastFiredEvent: "mouse leave",
            hoverText: "Hover over me!"
          });
        };
        render() {
          return (
            <div>
              <h1>Last fired event: {this.state.lastFiredEvent || "none"}</h1>
              <p>
                <button onClick={this.handleOnClick}>Click me!</button>
              </p>
              <p>
                <button onDoubleClick={this.handleOnDoubleClick}>
                  Double Click me!
                </button>
              </p>
              <p onCopy={this.handleOnCopy}>Copy me!</p>
              <p>
                <input
                  onChange={this.handleOnChange}
                  type="text"
                  value={this.state.inputValue}
                  placholder="Paste text here!"
                  onCut={this.handleOnCut}
                  onPaste={this.handleOnPaste}
                />
              </p>
              <p>
                <input
                  onSelect={this.handleOnSelect}
                  onFocus={this.handleOnFocus}
                  onBlur={this.handleOnBlur}
                  value="Select me!"
                  readOnly
                />
              </p>
              <div
                style={{
                  width: "125px",
                  height: "125px",
                  backgroundColor: "royalblue",
                  color: "white"
                }}
                onMouseEnter={this.handleOnMouseEnter}
                onMouseLeave={this.handleOnMouseLeave}
              >
                {this.state.hoverText}
              </div>
            </div>
          );
        }
      }

      ReactDOM.render(<MyEvents />, document.getElementById("root"));
    </script>
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.

      Read this section for a production-ready setup with JSX:
      https://reactjs.org/docs/add-react-to-a-website.html#add-jsx-to-a-project

      In a larger project, you can use an integrated toolchain that includes JSX instead:
      https://reactjs.org/docs/create-a-new-react-app.html

      You can also use React without JSX, in which case you can remove Babel:
      https://reactjs.org/docs/react-without-jsx.html
    -->
  </body>
</html>
