<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>i18n Internationalization</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/prop-types@15.7.2/prop-types.min.js"></script>
    <script src="https://unpkg.com/react-intl@2.8.0/dist/react-intl.min.js"></script>
    <script src="https://unpkg.com/react-intl@2.8.0/locale-data/nl.js"></script>
    <script src="https://unpkg.com/react-intl@2.8.0/locale-data/pl.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone@7.4.4/babel.min.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel">
      const { IntlProvider, FormattedMessage, addLocaleData } = window.ReactIntl;
      const {nl, pl} = window.ReactIntlLocaleData
      addLocaleData([...nl, ...pl])

      const getTranslations = language => {
        const translationsByLanguage = {
          "en-GB": {
            greeting: "Hi, {name}",
            cookies: "The cookies are tasty."
          },
          "nl-BE": {
            greeting: "Hallo, {name}",
            cookies: "De koekjes zijn lekker."
          },
          "pl-PL": {
            greeting: "Cześć, {name}",
            cookies: "Ciasteczka są smaczne."
          }
        };
        return translationsByLanguage[language];
      };

      class TranslationsAppWrapper extends React.Component {
        state = { currentLanguage: navigator.language };
        changeLanguage = language =>
          this.setState({ currentLanguage: language });
        render() {
          console.log('re-render', this.state.currentLanguage)
          return (
            <IntlProvider
              locale={this.state.currentLanguage}
              messages={getTranslations(this.state.currentLanguage)}
            >
              <Translations
                changeLanguage={this.changeLanguage}
                language={this.state.currentLanguage}
              />
            </IntlProvider>
          );
        }
      }

      const Translations = ({ changeLanguage, language }) => {
        return (
          <>
            <h1>Translations</h1>
            <p>Current language: {language}</p>

            <FormattedMessage id="greeting" values={{ name: 'Mike' }} tagName="p" />
            <FormattedMessage id="cookies" tagName="p" />

            <button onClick={() => changeLanguage("nl-BE")}>Nederlands (🇳🇱)</button>
            <button onClick={() => changeLanguage("en-GB")}>English (🇬🇧)</button>
            <button onClick={() => changeLanguage("pl-PL")}>Polski (🇵🇱)</button>
          </>
        );
      };

      ReactDOM.render(
        <TranslationsAppWrapper />,
        document.getElementById("root")
      );
    </script>
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.

      Read this section for a production-ready setup with JSX:
      https://reactjs.org/docs/add-react-to-a-website.html#add-jsx-to-a-project

      In a larger project, you can use an integrated toolchain that includes JSX instead:
      https://reactjs.org/docs/create-a-new-react-app.html

      You can also use React without JSX, in which case you can remove Babel:
      https://reactjs.org/docs/react-without-jsx.html
    -->
  </body>
</html>
