<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Lifecycle Methods</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone@7.4.4/babel.min.js"></script>
  </head>
  <body>
    <div id="root"></div>

    <script type="text/babel">
      const logStyle = "background: black; padding: 3px";
      const green = `color: lime; ${logStyle}`;
      const yellow = `color: yellow; ${logStyle}`;
      const orange = `color: orange; ${logStyle}`;
      const pink = `color: hotpink; ${logStyle}`;
      const red = `color: red; ${logStyle}`;

      class Counter extends React.Component {
        constructor(props) {
          super(props);
          this.state = {
            color: "black",
            error: false,
          };
          console.log("%c mounting phase - constructor()", green);
        }
        componentDidMount() {
          console.log("%c mounting phase - componentDidMount()", green);
        }
        componentDidUpdate(prevProps, prevState, snapshot) {
          console.log("%c updating phase - componentDidUpdate()", orange);
        }
        shouldComponentUpdate(nextProps, nextState) {
          console.log("%c updating phase - shouldComponentUpdate()", orange);
          return true;
        }
        componentWillUnmount() {
          console.log("%c unmounting phase - componentWillUnmount()", pink);
        }

        static getDerivedStateFromProps(props, state) {
          console.log(
            "%c mounting/updating phase - static getDerivedStateFromProps()",
            yellow
          );
          return state;
        }
        getSnapshotBeforeUpdate() {
          console.log("%c updating phase - getSnapshotBeforeUpdate()", orange);
          return null;
        }
        // UNSAFE_componentWillReceiveProps(nextProps) {
        //   console.log('%c updating phase - componentWillReceiveProps()', orange)
        // }
        // UNSAFE_componentWillMount() {
        //   console.log('%c mounting phase - componentWillMount()', green)
        // }
        // UNSAFE_componentWillUpdate(nextProps, nextState) {
        //   console.log("%c updating phase - componentWillUpdate()", orange);
        // }

        doubleClickForError = () => {
          this.setState({ error: true });
        };

        render() {
          console.log("%c mounting/updating phase - render()", yellow);
          if (this.state.error) {
            throw new Error("Fake error");
          }
          return (
            <div
              onDoubleClick={this.doubleClickForError}
              style={{ color: this.state.color, fontSize: "48px" }}
            >
              {this.props.value}
            </div>
          );
        }
      }

      class Button extends React.Component {
        state = {
          count: 0,
          show: true
        };
        add = () => {
          this.setState(prevState => ({ count: prevState.count + 1 }));
        };
        toggle = () => {
          this.setState(prevState => ({ show: !prevState.show }));
        };

        static getDerivedStateFromError(error) {
          console.log(
            "%c error handling phase - static getDerivedStateFromError()",
            red
          );
          return { hasError: true };
        }

        componentDidCatch(error, info) {
          console.log("%c error handling phase - componentDidCatch()", red);
        }

        render() {
          if (this.state.hasError) {
            return <h1>An error occured!</h1>
          }
          return (
            <div>
              <button onClick={this.add}>Add</button>
              <button onClick={this.toggle}>
                {this.state.show ? "hide" : "show"}
              </button>
              {this.state.show && 
                <React.Fragment>
                  <Counter value={this.state.count} />
                  <p>Double-click the counter to cause an error.</p>
                </React.Fragment>
              }
            </div>
          );
        }
      }

      ReactDOM.render(<Button />, document.getElementById("root"));
    </script>
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.

      Read this section for a production-ready setup with JSX:
      https://reactjs.org/docs/add-react-to-a-website.html#add-jsx-to-a-project

      In a larger project, you can use an integrated toolchain that includes JSX instead:
      https://reactjs.org/docs/create-a-new-react-app.html

      You can also use React without JSX, in which case you can remove Babel:
      https://reactjs.org/docs/react-without-jsx.html
    -->
  </body>
</html>
