<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>React Router DOM</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/react-router-dom@5.0.0/umd/react-router-dom.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone@7.4.4/babel.min.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel">
      // THIS SNIPPET MUST BE SERVED FROM A SERVER (e.g.: localhost:5000)
      // run `npm start` from `the-clue-training-examples/react`

      const {
        BrowserRouter,
        Route,
        Link,
        Switch,
        withRouter
      } = window.ReactRouterDOM;

      class App extends React.Component {
        render() {
          return (
            <BrowserRouter basename="/snippets/react-router-dom">
              <h1>React Router DOM</h1>
              <WithRouterNavigation /> {/* this component will always be rendered -> no Route!*/ }
              <Route path="/belgium" component={Belgium} />
              <Route path="/poland" component={Poland} />
              <Route path="/mexico" component={Mexico} />
              <Route path="/SWEDEN" sensitive={false} component={Sweden} />
            </BrowserRouter>
          );
        }
      }
      const Navigation = props => {
        // These props come from <WithRouterNavigation />
        // We wrapped this Navigationcomponent with ReactRouter's withRouter() function, providing us with Router data.
        // Now we have access to `location` object prop
        return (
          <ul>
            <li>
              <Link
                to={{
                  pathname: "/belgium",
                  state: { from: props.location.pathname.replace("/", "") }
                }}
              >
                Belgium
              </Link>
            </li>
            <li>
              <Link
                to={{
                  pathname: "/poland",
                  state: { from: props.location.pathname.replace("/", "") }
                }}
              >
                Poland
              </Link>
            </li>
            <li>
              <Link
                to={{
                  pathname: "/mexico",
                  state: { from: props.location.pathname.replace("/", "") }
                }}
              >
                Mexico
              </Link>
            </li>
            <li>
              <Link
                to={{
                  pathname: "/sweden",
                  state: { from: props.location.pathname.replace("/", "") }
                }}
              >
                Sweden
              </Link>
            </li>
          </ul>
        );
      };
      
      // Provide props form our Router to Navigation Component
      const WithRouterNavigation = withRouter(Navigation);

      const Belgium = props => (
        <>
          <h1>Belgium</h1>
          <VisitingFrom {...props} />
        </>
      );
      const Poland = props => (
        <>
          <h1>Poland</h1>
          <VisitingFrom {...props} />
        </>
      );
      const Mexico = props => (
        <>
          <h1>Mexico</h1>
          <VisitingFrom {...props} />
        </>
      );
      const Sweden = props => (
        <>
          <h1>Sweden</h1>
          <VisitingFrom {...props} />
        </>
      );

      // this VisitignFrom Component checks if we've got state set in the location
      // the `from` can be set programmatorically if we use <Link /> component with `to`-prop as an Object with state;
      const VisitingFrom = ({ location }) =>
        location.state.from ? (
          <p>Visiting from: {location.state.from}</p>
        ) : (
          <span>Visiting from: nowhere yet...</span>
        );

      ReactDOM.render(<App />, document.getElementById("root"));
    </script>
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.

      Read this section for a production-ready setup with JSX:
      https://reactjs.org/docs/add-react-to-a-website.html#add-jsx-to-a-project

      In a larger project, you can use an integrated toolchain that includes JSX instead:
      https://reactjs.org/docs/create-a-new-react-app.html

      You can also use React without JSX, in which case you can remove Babel:
      https://reactjs.org/docs/react-without-jsx.html
    -->
  </body>
</html>
