<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EJS template example</title>
</head>
<body>
	<h1>EJS template example</h1>

	<div>
		<% users.forEach((user) => { %>
			<%- include('./../partials/user', {user}); %>
		<% }); %>
	</div>
</body>
</html>
