<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Handlebars template example</title>
</head>
<body>
	<h1>Handlebars template example</h1>

	<div>
		{{#each users as |user|}}
			{{> user user=user}}
		{{/each}}
	</div>
</body>
</html>
