<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Exercise 13: Updating State with Events</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone@7.4.4/babel.min.js"></script>
  </head>
  <body>
    <div id="root"></div>

    <script type="text/babel">
      class Counter extends React.Component {
        constructor() {
          super();
          this.state = {
            counter: 0,
            name: "The Holy Counter"
          };
        }
        render() {
          return (
            <div>
              <h1>{this.state.name}</h1>
              <button>-</button>
              <span style={{ padding: "12px", color: "mediumseagreen" }}>
                0
              </span>
              <button>+</button>
              <p>
                This is part 2/2 of the Counter exercise. (The counter should be
                updating in this exercise.)
              </p>
            </div>
          );
        }
      }

      ReactDOM.render(<Counter />, document.getElementById("root"));
    </script>
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.

      Read this section for a production-ready setup with JSX:
      https://reactjs.org/docs/add-react-to-a-website.html#add-jsx-to-a-project

      In a larger project, you can use an integrated toolchain that includes JSX instead:
      https://reactjs.org/docs/create-a-new-react-app.html

      You can also use React without JSX, in which case you can remove Babel:
      https://reactjs.org/docs/react-without-jsx.html
    -->
  </body>
</html>
