<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Exercise 14: Lifecycle Methods</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone@7.4.4/babel.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="root"></div>

    <script type="text/babel">
      /* Axios HTTP Get request example:
        axios.get('https://swapi.co/api/people/?format=json')
          .then(response => {
            console.log(response.data);
          }


        // Example API call url: https://swapi.co/api/people/1/?format=json
      */
      class SelectedCharacter extends React.Component {
        state = {
          character: undefined
        }
        // Insert/change Lifecyle Method here:
        something() {
          const apiUrl = "https://swapi.co/api/people/"
          axios.get('...')
            .then(response => {
              console.log(response)
              // save response to character state
            })
        }

        render() {
          const { character } = this.state;
          if (!character) {
            return <p>Please select a character above.</p>
          }
          return (
            <ul>
              <li>Name: {character.name}</li>
              <li>Gender: {character.gender}</li>
              <li>add</li>
              <li>more</li>
              <li>info</li>
            </ul>
          );
        }
      }
      class Characters extends React.Component {
        state = {
          characters: [{"name":"Luke Skywalker","id":"1"},{"name":"C-3PO","id":"2"},{"name":"R2-D2","id":"3"},{"name":"Darth Vader","id":"4"},{"name":"Leia Organa","id":"5"}],
          selectedCharacterId: null,
        }
        selectCharacter = id => {
          // set selectedCharacterId
        }
        render() {
          const { characters, selectedCharacterId } = this.state;
          return (
            <React.Fragment>
              <h1>Characters</h1>
              <ul>
                { characters.map(character => (
                  <li key={character.id} onClick={null} style={{cursor: 'pointer'}}>
                    {character.id}: name
                  </li>
                )) }
              </ul>

              <hr />

              <h2>Selected Character</h2>
              <SelectedCharacter />
            </React.Fragment>
          );
        }
      }

      ReactDOM.render(<Characters />, document.getElementById("root"));
    </script>
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.

      Read this section for a production-ready setup with JSX:
      https://reactjs.org/docs/add-react-to-a-website.html#add-jsx-to-a-project

      In a larger project, you can use an integrated toolchain that includes JSX instead:
      https://reactjs.org/docs/create-a-new-react-app.html

      You can also use React without JSX, in which case you can remove Babel:
      https://reactjs.org/docs/react-without-jsx.html
    -->
  </body>
</html>
